<!DOCTYPE html>
    <html>
        <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/scripts.js"></script>
        <link rel="icon" href="img/icon.png">
        <title>{{title}}</title> 
        </head>
    
        <body>
            <div class="main-content">
            {{>header}}
            <h2>{{name}}</h2>
            <img class="portrait" src="img/fahim.jpg">
</div>
        {{>footer}}  
        </body>  
    </html>