<DOCTYPE>
    <html>
        <head>
                    <link rel="stylesheet" href="css/styles.css">
        <script src="js/scripts.js"></script>
            <link rel="icon" href="/img/icon.png">
            <title>{{title}}</title> 
        </head>
    
        <body>
            {{>header}}
<p>{{errorMsg}}</p>
        {{>footer}}
        </body>
    
    </html>